
<%- include("./partials/head") -%>

<body>

	<%- include("./partials/sidebar") -%>

	<main>
		<h1>Welcome to <em>Inventory App</em></h1>
		<h2><%= title %></h2>
		
		<ul>
			<% items_list.map((item) => { %>
				<a href="<%= item.url %>"><li><%= item.name %> - $<%= item.price %> (<%= item.category.name %>)</li></a>
			<% }) %>
		</ul>
	</main>
</body>
</html>
