
<%- include("./partials/head") -%>

<body>

	<%- include("./partials/sidebar") -%>

	<main>
		<h2><%= title %></h2>
		<ul>
			<% item_instance_list.map((itemInstance) => { %>
				<li><%= itemInstance.item.name %> - $<%= itemInstance.item.price %></li>
			<% }) %>
		</ul>
	</main>
</body>
</html>
